.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.name {
  position: absolute;
  z-index: 1;
  width: 100vw;
  text-align: center;
  left: 0;
  top: calc(50vh - 88px);
}

.fa {
  @include rem(font-size, 40);
}

.move {
  position: fixed;
  top: 50vh;
  z-index: 2;
}

#mail {
  left: calc(50% - 190px);

  &:hover .fa {
    color: #dd4b39;
  }
}

#facebook {
  left: calc(50% - 140px);

  &:hover .fa {
    color: #3b5998;
  }
}

#twitter {
  left: calc(50% - 90px);

  &:hover .fa {
    color: #4099FF;
  }
}

#instagram {
  left: calc(50% - 40px);

  &:hover .fa {
    color: #125688;
  }
}

#github {
  left: calc(50% + 10px);

  &:hover .fa {
    color: #000000;
  }
}

#linkedin {
  left: calc(50% + 60px);

  &:hover .fa {
    color: #007bb5;
  }
}

#xing {
  left: calc(50% + 110px);

  &:hover .fa {
    color: #126567;
  }
}

#catchMeIfYouCan {
  left: calc(50% + 160px);
  position: fixed;
  top: 50vh;
  z-index: 2;
  background: $dark-grey;
  color: $light-grey;
  font-size: 25px;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
  margin: 2px 0;
}